# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Thumbnails
Thumbs.db

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*~
.project
.settings/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
*.tmp
*.temp

# System Files
desktop.ini
$RECYCLE.BIN/

# Optional: Uncomment if you don't want to track reference files
# Reference_File/
